body {
    background-color: cornflowerblue;
}

.botao-contato button {
    width: 88px;
    height: 42px;
    border-radius: 20px;
    background-color: blue;
    color: #fff;
    cursor: pointer;
    transition: .2s;
}

footer {
    background-color: #777;
    padding: 2px;
    text-align: center;
    margin-top: 342px;
    color: white;
}